
body{
    font-family: 'Open Sans', sans-serif;

}

/* nav style Start */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-title{

    color:#131313;
    font-size: 45px;
    font-weight: 800px;
}

.text-primary{
    color:#FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{

    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
}


.btn-primary{

   border-radius: 5px;
    background-color:#FD6E0A;
    font-size: 20px;
    border: none;
    font-weight: 700px;
    padding: 15px 35px;
}


/* header related style */

.header{
    background-color: #FFF8F3;
}